<%= form_with(model: person, local: true, class: 'ui form') do |form| %>
  <% if person.errors.any? %>
    <div id="notice" class="error" >
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>
      

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, required: true %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, required: true %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.text_field :avatar, required: true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'ui button primary' %>
  </div>
<% end %>
